---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify%5B%5D=delivery&verify%5B%5D=zip4
    body:
      encoding: UTF-8
      string: address[name]=&address[street1]=417%20Montgomery%20Street&address[street2]=&address[city]=SF&address[state]=CA&address[zip]=94104&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 307aae665ed04818ec5ada9e00102368
      Location:
      - "/api/v2/addresses/adr_6d849f402fa948b09e941a1dc8454828"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005282233-4c1c708ec4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_6d849f402fa948b09e941a1dc8454828","object":"Address","created_at":"2020-05-28T23:24:08Z","updated_at":"2020-05-28T23:24:08Z","name":null,"company":null,"street1":"417
        MONTGOMERY ST","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.MISSING","field":"street2","message":"Missing
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79298,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}},"zip4":{"success":true,"errors":[],"details":null}}}'
  recorded_at: Thu, 28 May 2020 23:24:08 GMT
recorded_with: VCR 5.1.0
