---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=200%2019th%20St&address[city]=Birmingham&address[zip]=35203&address[phone]=123456789&address[name]=Newt%20Scamander&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc23e0bb5d150005f25e
      Location:
      - "/api/v2/addresses/adr_bfbc1a9728ad4ddba2ebbb7ef97400fc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bfbc1a9728ad4ddba2ebbb7ef97400fc","object":"Address","created_at":"2020-02-11T14:37:23Z","updated_at":"2020-02-11T14:37:23Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:37:23 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc25e0bb5d320005f2e2
      Location:
      - "/api/v2/parcels/prcl_6268fbb62bc14c05a7011bd810aad24e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb2sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_6268fbb62bc14c05a7011bd810aad24e","object":"Parcel","created_at":"2020-02-11T14:37:25Z","updated_at":"2020-02-11T14:37:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 11 Feb 2020 14:37:26 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_bfbc1a9728ad4ddba2ebbb7ef97400fc&shipment[from_address][id]=adr_ad82187e617247c1abc0750c48aee0bf&shipment[parcel][id]=prcl_6268fbb62bc14c05a7011bd810aad24e
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc26e0bb5d330005f336
      Location:
      - "/api/v2/shipments/shp_548b6aaa8a354c02b2b3d3adcbbe064d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1wdc 0653d0f1e8
      - intlb2sj 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-02-11T14:37:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-02-11T14:37:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ad82187e617247c1abc0750c48aee0bf","object":"Address","created_at":"2020-02-11T14:37:24Z","updated_at":"2020-02-11T14:37:24Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6268fbb62bc14c05a7011bd810aad24e","object":"Parcel","created_at":"2020-02-11T14:37:25Z","updated_at":"2020-02-11T14:37:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b037bcada49143319cfc71f979d16039","object":"Rate","created_at":"2020-02-11T14:37:27Z","updated_at":"2020-02-11T14:37:27Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.15","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_548b6aaa8a354c02b2b3d3adcbbe064d","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_c286c3dbbe7b48949a43af9802d9cae8","object":"Rate","created_at":"2020-02-11T14:37:27Z","updated_at":"2020-02-11T14:37:27Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.54","currency":"USD","retail_rate":"7.54","retail_currency":"USD","list_rate":"7.54","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_548b6aaa8a354c02b2b3d3adcbbe064d","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_760f70de521f4751ac72fd78527a3e99","object":"Rate","created_at":"2020-02-11T14:37:27Z","updated_at":"2020-02-11T14:37:27Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.64","currency":"USD","retail_rate":"8.25","retail_currency":"USD","list_rate":"7.64","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_548b6aaa8a354c02b2b3d3adcbbe064d","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_bfbc1a9728ad4ddba2ebbb7ef97400fc","object":"Address","created_at":"2020-02-11T14:37:23Z","updated_at":"2020-02-11T14:37:23Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_ad82187e617247c1abc0750c48aee0bf","object":"Address","created_at":"2020-02-11T14:37:24Z","updated_at":"2020-02-11T14:37:24Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_bfbc1a9728ad4ddba2ebbb7ef97400fc","object":"Address","created_at":"2020-02-11T14:37:23Z","updated_at":"2020-02-11T14:37:23Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_548b6aaa8a354c02b2b3d3adcbbe064d","object":"Shipment"}'
  recorded_at: Tue, 11 Feb 2020 14:37:27 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_548b6aaa8a354c02b2b3d3adcbbe064d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fb745e905e42bc28e0bb5d340005f3a2
      Content-Type:
      - ap[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_548b6aaa8a354c02b2b3d3adcbbe064d/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_c286c3dbbe7b48949a43af9802d9cae8
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fb745e8d5e42bc29e0bb5d350005f3de
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb2sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-02-11T14:37:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9461200897846033275747","updated_at":"2020-02-11T14:37:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_ad82187e617247c1abc0750c48aee0bf","object":"Address","created_at":"2020-02-11T14:37:24Z","updated_at":"2020-02-11T14:37:24Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6268fbb62bc14c05a7011bd810aad24e","object":"Parcel","created_at":"2020-02-11T14:37:25Z","updated_at":"2020-02-11T14:37:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_af619ca173184aca9cb864fe7648686c","created_at":"2020-02-11T14:37:30Z","updated_at":"2020-02-11T14:37:30Z","date_advance":0,"integrated_form":"none","label_date":"2020-02-11T14:37:30Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200211/a0a1220e5adf4ac3a322a9ee86fd4ffb.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b037bcada49143319cfc71f979d16039","object":"Rate","created_at":"2020-02-11T14:37:27Z","updated_at":"2020-02-11T14:37:27Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.15","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_548b6aaa8a354c02b2b3d3adcbbe064d","carrier_account_id":"ca_47[...]
