---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[name]=NY%20Warehouse&address[company]=NY%20Warehouse&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e915e42bc49e0bb5d9b0005fc7d
      Location:
      - "/api/v2/addresses/adr_82ae8ef36f24475180fd70948cd66ded"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb2sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_82ae8ef36f24475180fd70948cd66ded","object":"Address","created_at":"2020-02-11T14:38:01Z","updated_at":"2020-02-11T14:38:01Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:38:01 GMT
recorded_with: VCR 5.1.0
