---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9085f125ebec87fe3bc94ed0002b78b
      Location:
      - "/api/v2/addresses/adr_799fd973ea9f4744ad651d38335a09df"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005142231-731311c147-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_799fd973ea9f4744ad651d38335a09df","object":"Address","created_at":"2020-05-15T16:51:11Z","updated_at":"2020-05-15T16:51:11Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 15 May 2020 16:51:11 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9085f175ebec880e3bc950a0002b80d
      Location:
      - "/api/v2/parcels/prcl_8749bf70cbc84041867b515f0d6644e9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005142231-731311c147-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_8749bf70cbc84041867b515f0d6644e9","object":"Parcel","created_at":"2020-05-15T16:51:12Z","updated_at":"2020-05-15T16:51:12Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Fri, 15 May 2020 16:51:13 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_799fd973ea9f4744ad651d38335a09df&shipment[from_address][id]=adr_1e81548291a048ff93cb6c246475f7f8&shipment[parcel][id]=prcl_8749bf70cbc84041867b515f0d6644e9
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9085f115ebec881e3bc950f0002b856
      Location:
      - "/api/v2/shipments/shp_fdee8641c2b44edea270df902a69afe7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202005142231-731311c147-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-15T16:51:13Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-15T16:51:13Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_1e81548291a048ff93cb6c246475f7f8","object":"Address","created_at":"2020-05-15T16:51:12Z","updated_at":"2020-05-15T16:51:12Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8749bf70cbc84041867b515f0d6644e9","object":"Parcel","created_at":"2020-05-15T16:51:12Z","updated_at":"2020-05-15T16:51:12Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0a5379462011405d87778bda0e39407a","object":"Rate","created_at":"2020-05-15T16:51:13Z","updated_at":"2020-05-15T16:51:13Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_fdee8641c2b44edea270df902a69afe7","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_ac4b7d3adc8b475395ad824bf4dc4b78","object":"Rate","created_at":"2020-05-15T16:51:13Z","updated_at":"2020-05-15T16:51:13Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_fdee8641c2b44edea270df902a69afe7","carrie[...]
