---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e935e42bc54e0bb5ddb0005ffa6
      Location:
      - "/api/v2/addresses/adr_97008d68f58b45488c241686e627f790"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb2sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_97008d68f58b45488c241686e627f790","object":"Address","created_at":"2020-02-11T14:38:12Z","updated_at":"2020-02-11T14:38:12Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:38:12 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8c5e42bc56e0bb5dde0006002e
      Location:
      - "/api/v2/parcels/prcl_8f91e99d193141cca795d821e5c06d94"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_8f91e99d193141cca795d821e5c06d94","object":"Parcel","created_at":"2020-02-11T14:38:14Z","updated_at":"2020-02-11T14:38:14Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 11 Feb 2020 14:38:14 GMT
recorded_with: VCR 5.1.0
