---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_f1d3f652eeb049a4ba637d9724a13959"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"661ee2bffbdf87799941c623e9980811"
      X-Node:
      - easypost
      - fec7f3f5f1
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"adr_f1d3f652eeb049a4ba637d9724a13959","object":"Address","created_at":"2016-05-09T18:34:14Z","updated_at":"2016-05-09T18:34:14Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 09 May 2016 18:34:14 GMT
recorded_with: VCR 3.0.1
