---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_13daaad2e2a14f0aad94dd292d7c18ef"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f5b9118751dc3eea381466f73563c2ea"
      X-Node:
      - 66b0027113
      - easypost
      - web5sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"adr_13daaad2e2a14f0aad94dd292d7c18ef","object":"Address","created_at":"2016-05-09T18:56:53Z","updated_at":"2016-05-09T18:56:53Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 09 May 2016 18:56:53 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_4bacc3d44a8a4e62bcb6ef2b575f52bd"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2370005e1ebf1167f1f74f8b77ded9f"
      X-Node:
      - 66b0027113
      - easypost
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_4bacc3d44a8a4e62bcb6ef2b575f52bd","object":"Parcel","created_at":"2016-05-09T18:56:54Z","updated_at":"2016-05-09T18:56:54Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 09 May 2016 18:56:54 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_13daaad2e2a14f0aad94dd292d7c18ef&shipment[from_address][id]=adr_8eaaaba79a274cfca65f7c5764ba9b90&shipment[parcel][id]=prcl_4bacc3d44a8a4e62bcb6ef2b575f52bd
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/shipments/shp_560dd092443445738b8fcec66761a947"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2818258890c7890f9a8c03b60e06fca"
      X-Node:
      - 66b0027113
      - easypost
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"created_at":"2016-05-09T18:56:55Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2016-05-09T18:56:55Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8eaaaba79a274cfca65f7c5764ba9b90","object":"Address","created_at":"2016-05-09T18:56:54Z","updated_at":"2016-05-09T18:56:54Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_4bacc3d44a8a4e62bcb6ef2b575f52bd","object":"Parcel","created_at":"2016-05-09T18:56:54Z","updated_at":"2016-05-09T18:56:54Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_23b31258eacb4a50bab6add3af481888","object":"Rate","created_at":"2016-05-09T18:56:55Z","updated_at":"2016-05-09T18:56:55Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.75","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.75","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_560dd092443445738b8fcec66761a947","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f75aea0d70fa43138784e31b14fbd539","object":"Rate","created_at":"2016-05-09T18:56:55Z","updated_at":"2016-05-09T18:56:55Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.95","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_560dd092443445738b8fcec66761a947","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_2690ae7987464ed98d8ed60374611dc8","object":"Rate","created_at":"2016-05-09T18:56:55Z","updated_at":"2016-05-09T18:56:55Z","mode":"test","service":"First","carrier":"USPS","rate":"3.35","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.35","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_560dd092443445738b8fcec66761a947","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_2bbc746d33294b04a5e182f36d2c1464","object":"Rate","created_at":"2016-05-09T18:56:55Z","updated_at":"2016-05-09T18:56:55Z","mode":"test","service":"Express","carrier":"USPS","rate":"20.66","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"20.66","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_560dd092443445738b8fcec66761a947","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_13daaad2e2a14f0aad94dd292d7c18ef","object":"Address","created_at":"2016-05-09T18:56:53Z","updated_at":"2016-05-09T18:56:53Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_8eaaaba79a274cfca65f7c5764ba9b90","object":"Address","created_at":"2016-05-09T18:56:54Z","updated_at":"2016-05-09T18:56:54Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_13daaad2e2a14f0aad94dd292d7c18ef","object":"Address","created_at":"2016-05-09T18:56:53Z","updated_at":"2016-05-09T18:56:53Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_560dd092443445738b8fcec66761a947","object":"Shipment"}'
  recorded_at: Mon, 09 May 2016 18:56:55 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_5f5da91fcee645c3be99c15c4f746f6c/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_fadbd888ef0e41fa89ee93c0893b0a68
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43c3d57f1c4e90b9a620f2b7e8da1e6c"
      X-Node:
      - 66b0027113
      - easypost
      - web6sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"created_at":"2016-05-09T18:56:58Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null,"po_sort":"Nonpresorted"},"reference":null,"status":"unknown","tracking_code":"9499907123456123456781","updated_at":"2016-05-09T18:57:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7a96452f509e48a885c2c6f394c434dd","object":"Address","created_at":"2016-05-09T18:56:57Z","updated_at":"2016-05-09T18:56:57Z","name":null,"company":"Spree
        Test Store 1","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_85c0d543050d42d68715109937dc4974","object":"Parcel","created_at":"2016-05-09T18:56:57Z","updated_at":"2016-05-09T18:56:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_69e2d1309a0e4b84aa2c1397b70153db","created_at":"2016-05-09T18:57:00Z","updated_at":"2016-05-09T18:57:01Z","date_advance":0,"integrated_form":"none","label_date":"2016-05-09T18:56:58Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20160509/3462b1698d7248e7aea1b9cae4bd980d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null},"rates":[{"id":"rate_fadbd888ef0e41fa89ee93c0893b0a68","object":"Rate","created_at":"2016-05-09T18:56:59Z","updated_at":"2016-05-09T18:56:59Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.95","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_5f5da91fcee645c3be99c15c4f746f6c","carrier_account_id":"ca_mtb51Ve0"}[...]
