---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001","carrier":"FedEx"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c735ca5a67c0214aedff043f00161115
      Location:
      - "/api/v2/trackers/trk_9a051eccd6904be085441636a1277267"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"trk_9a051eccd6904be085441636a1277267","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2025-01-28T12:31:47Z","updated_at":"2025-01-28T12:31:47Z","signed_by":null,"weight":17.6,"est_delivery_date":"2025-01-28T12:31:47Z","shipment_id":null,"carrier":"FedEx","tracking_details":[{"object":"TrackingDetail","message":"Shipment
        information sent to FedEx","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2024-12-29T02:55:47Z","source":"FedEx","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":{"object":"CarrierDetail","service":"FEDEX_GROUND","container_type":"YOUR_PACKAGING","est_delivery_date_local":"2882-08-03","est_delivery_time_local":"12:31:47","origin_location":"NEW
        YORK NY US","origin_tracking_location":null,"destination_location":"ATLANTA
        GA US","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzlhMDUxZWNjZDY5MDRiZTA4NTQ0MTYzNmExMjc3MjY3"}'
  recorded_at: Thu, 27 Feb 2025 08:24:42 GMT
recorded_with: VCR 6.3.1
