---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001","carrier":"FedEx"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd8679a028bfb0ca2210026cebe
      Location:
      - "/api/v2/trackers/trk_1c5a15e963694389b4f2e5f0c97b6050"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb59nuq
      X-Version-Label:
      - easypost-202501290019-bdd2d6e460-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"trk_1c5a15e963694389b4f2e5f0c97b6050","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2025-01-29T10:27:23Z","updated_at":"2025-01-29T10:27:23Z","signed_by":null,"weight":17.6,"est_delivery_date":"2025-01-29T10:27:23Z","shipment_id":null,"carrier":"FedEx","tracking_details":[{"object":"TrackingDetail","message":"Shipment
        information sent to FedEx","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2024-12-30T00:51:23Z","source":"FedEx","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":{"object":"CarrierDetail","service":"FEDEX_GROUND","container_type":"YOUR_PACKAGING","est_delivery_date_local":"2882-08-04","est_delivery_time_local":"10:27:23","origin_location":"NEW
        YORK NY US","origin_tracking_location":null,"destination_location":"ATLANTA
        GA US","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzFjNWExNWU5NjM2OTQzODliNGYyZTVmMGM5N2I2MDUw","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.02000","charged":false,"refunded":false}]}'
  recorded_at: Wed, 29 Jan 2025 10:27:23 GMT
recorded_with: VCR 6.3.1
