---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_420266b655c44b0795400afdd7994832"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a06a8318214407cf576ca8599bdc24b"
      X-Node:
      - easypost
      - fec7f3f5f1
      - web11sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_420266b655c44b0795400afdd7994832","object":"Parcel","created_at":"2016-05-09T18:15:16Z","updated_at":"2016-05-09T18:15:16Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 09 May 2016 18:15:16 GMT
recorded_with: VCR 3.0.1
