---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"A Different Road","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf2577edff8bd7001debc7
      Location:
      - "/api/v2/addresses/adr_31fb1e37f44e11efa8cb3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_31fb1e37f44e11efa8cb3cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:15+00:00","updated_at":"2025-02-26T14:30:15+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 14:30:15 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"20.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11a67bf2579edff8c1f001def02
      Location:
      - "/api/v2/parcels/prcl_e2128ffedc9449268d0085c0bc7cf979"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_e2128ffedc9449268d0085c0bc7cf979","object":"Parcel","created_at":"2025-02-26T14:30:17Z","updated_at":"2025-02-26T14:30:17Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 14:30:17 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_31fb1e37f44e11efa8cb3cecef1b359e"},"from_address":{"id":"adr_3292b550f44e11efa557ac1f6bc53342"},"parcel":{"id":"prcl_e2128ffedc9449268d0085c0bc7cf979"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11a67bf257aedff8c5b001df048
      Location:
      - "/api/v2/shipments/shp_fa14e733b83b4efc9007d9d9730bdff2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_fa14e733b83b4efc9007d9d9730bdff2","created_at":"2025-02-26T14:30:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T14:30:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3292b550f44e11efa557ac1f6bc53342","object":"Address","created_at":"2025-02-26T14:30:16+00:00","updated_at":"2025-02-26T14:30:16+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e2128ffedc9449268d0085c0bc7cf979","object":"Parcel","created_at":"2025-02-26T14:30:17Z","updated_at":"2025-02-26T14:30:17Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6b934e77f6964fc6b05fb062e58f5f0f","object":"Rate","created_at":"2025-02-26T14:30:18Z","updated_at":"2025-02-26T14:30:18Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.12","currency":"USD","retail_rate":"10.50","retail_currency":"USD","list_rate":"8.44","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_fa14e733b83b4efc9007d9d9730bdff2","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d04c65a15794451d9e84ee2e00359967","object":"Rate","created_at":"2025-02-26T14:30:18Z","updated_at":"2025-02-26T14:30:18Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"6.14","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.50","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_fa14e733b83b4efc9007d9d9730bdff2","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ce7c0509e6d747b0839744cc10318490","object":"Rate","created_at":"2025-02-26T14:30:18Z","updated_at":"2025-02-26T14:30:18Z","mode":"test","service":"Express","carrier":"USPS","rate":"28.00","currency":"USD","retail_rate":"32.45","retail_currency":"USD","list_rate":"28.00","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_fa14e733b83b4efc9007d9d9730bdff2","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_31fb1e37f44e11efa8cb3cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:15+00:00","updated_at":"2025-02-26T14:30:15+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_3292b550f44e11efa557ac1f6bc53342","object":"Address","created_at":"2025-02-26T14:30:16+00:00","updated_at":"2025-02-26T14:30:16+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_31fb1e37f44e11efa8cb3cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:15+00:00","updated_at":"2025-02-26T14:30:15+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 14:30:19 GMT
recorded_with: VCR 6.3.1
