---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_2554ada92956412ebb2e041763dd781c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6422e409d772d7afc2abc49a599fc9d8"
      X-Node:
      - easypost
      - fec7f3f5f1
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"adr_2554ada92956412ebb2e041763dd781c","object":"Address","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 09 May 2016 18:15:55 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_c77b7949ffb543f3b9fa5439d6a091d4"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d3a8aaf4f3e2d93aeb10d6824dab489"
      X-Node:
      - easypost
      - fec7f3f5f1
      - web3sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_c77b7949ffb543f3b9fa5439d6a091d4","object":"Parcel","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Mon, 09 May 2016 18:15:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_2554ada92956412ebb2e041763dd781c&shipment[from_address][id]=adr_5ce0589fad0646809c768068053ecf11&shipment[parcel][id]=prcl_c77b7949ffb543f3b9fa5439d6a091d4
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/shipments/shp_561fcc456144473a9b1a533d30968d36"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8597b72f63d412bc6d8d0663d9ecfb0"
      X-Node:
      - easypost
      - fec7f3f5f1
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"created_at":"2016-05-09T18:15:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2016-05-09T18:15:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5ce0589fad0646809c768068053ecf11","object":"Address","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","name":null,"company":"Spree
        Test Store 5","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_c77b7949ffb543f3b9fa5439d6a091d4","object":"Parcel","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ed0c6065a2f241919da0701028a39d74","object":"Rate","created_at":"2016-05-09T18:15:56Z","updated_at":"2016-05-09T18:15:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"5.75","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.75","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_561fcc456144473a9b1a533d30968d36","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_1598d488da7643f3bfe0bb0736c27e3d","object":"Rate","created_at":"2016-05-09T18:15:56Z","updated_at":"2016-05-09T18:15:56Z","mode":"test","service":"First","carrier":"USPS","rate":"3.35","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"3.35","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_561fcc456144473a9b1a533d30968d36","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_45ad580f8c974e91b3b7d11cd88768d8","object":"Rate","created_at":"2016-05-09T18:15:56Z","updated_at":"2016-05-09T18:15:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"5.95","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"5.95","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_561fcc456144473a9b1a533d30968d36","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_6a61c9d68c184362a1f554007cb522b7","object":"Rate","created_at":"2016-05-09T18:15:56Z","updated_at":"2016-05-09T18:15:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"20.66","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"20.66","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_561fcc456144473a9b1a533d30968d36","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_2554ada92956412ebb2e041763dd781c","object":"Address","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_5ce0589fad0646809c768068053ecf11","object":"Address","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","name":null,"company":"Spree
        Test Store 5","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_2554ada92956412ebb2e041763dd781c","object":"Address","created_at":"2016-05-09T18:15:55Z","updated_at":"2016-05-09T18:15:55Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_561fcc456144473a9b1a533d30968d36","object":"Shipment"}'
  recorded_at: Mon, 09 May 2016 18:15:56 GMT
recorded_with: VCR 3.0.1
