---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: US-ASCII
      string: address[street1]=200%2019th%20St&address[city]=Birmingham&address[zip]=35203&address[phone]=123456789&address[name]=Newt%20Scamander&address[state]=AL&address[country]=US
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/addresses/adr_c298fd23b8c842e093d6c20ef0e1e20c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bed9c3d0aa2fe62c1fe0b3924d2c03e7"
      X-Node:
      - 66b0027113
      - easypost
      - web14sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"adr_c298fd23b8c842e093d6c20ef0e1e20c","object":"Address","created_at":"2016-05-09T19:57:35Z","updated_at":"2016-05-09T19:57:35Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 09 May 2016 19:57:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: US-ASCII
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/parcels/prcl_14d004b610c64db3974f43402679f5c5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0f96276fd7e72e3cf7110c59e00e5fe"
      X-Node:
      - 66b0027113
      - easypost
      - web15sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"id":"prcl_14d004b610c64db3974f43402679f5c5","object":"Parcel","created_at":"2016-05-09T19:57:37Z","updated_at":"2016-05-09T19:57:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Mon, 09 May 2016 19:57:37 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: US-ASCII
      string: shipment[to_address][id]=adr_c298fd23b8c842e093d6c20ef0e1e20c&shipment[from_address][id]=adr_5c85cfd8c70a4f749ce2426208446bbd&shipment[parcel][id]=prcl_14d004b610c64db3974f43402679f5c5
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - "/api/v2/shipments/shp_9d1ee4d7aca24a23aa26981c8e173600"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c241c440a8c5f92f635dda8c56c8cc4b"
      X-Node:
      - 66b0027113
      - easypost
      - web4sj
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 8b61f54e6a
    body:
      encoding: UTF-8
      string: '{"created_at":"2016-05-09T19:57:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2016-05-09T19:57:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5c85cfd8c70a4f749ce2426208446bbd","object":"Address","created_at":"2016-05-09T19:57:36Z","updated_at":"2016-05-09T19:57:36Z","name":null,"company":"Spree
        Test Store 1","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"insurance":null,"parcel":{"id":"prcl_14d004b610c64db3974f43402679f5c5","object":"Parcel","created_at":"2016-05-09T19:57:37Z","updated_at":"2016-05-09T19:57:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_50dd6ba8fe114988be3ac7a10aa19a24","object":"Rate","created_at":"2016-05-09T19:57:38Z","updated_at":"2016-05-09T19:57:38Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.01","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.01","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_9d1ee4d7aca24a23aa26981c8e173600","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_bd5cb9a104a84cccae66c9b4302b9d0b","object":"Rate","created_at":"2016-05-09T19:57:38Z","updated_at":"2016-05-09T19:57:38Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.12","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"6.12","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":2,"shipment_id":"shp_9d1ee4d7aca24a23aa26981c8e173600","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f91abd9776de41d5b91e036f5c7678e9","object":"Rate","created_at":"2016-05-09T19:57:38Z","updated_at":"2016-05-09T19:57:38Z","mode":"test","service":"Express","carrier":"USPS","rate":"20.66","currency":"USD","retail_rate":null,"retail_currency":null,"list_rate":"20.66","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":null,"est_delivery_days":1,"shipment_id":"shp_9d1ee4d7aca24a23aa26981c8e173600","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_c298fd23b8c842e093d6c20ef0e1e20c","object":"Address","created_at":"2016-05-09T19:57:35Z","updated_at":"2016-05-09T19:57:35Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_5c85cfd8c70a4f749ce2426208446bbd","object":"Address","created_at":"2016-05-09T19:57:36Z","updated_at":"2016-05-09T19:57:36Z","name":null,"company":"Spree
        Test Store 1","street1":"2630 Cahaba Rd","street2":null,"city":"Birmingham","state":"AL","zip":"35223","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_c298fd23b8c842e093d6c20ef0e1e20c","object":"Address","created_at":"2016-05-09T19:57:35Z","updated_at":"2016-05-09T19:57:35Z","name":"Newt
        Scamander","company":null,"street1":"200 19th St","street2":null,"city":"Birmingham","state":"AL","zip":"35203","country":"US","phone":"123456789","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_9d1ee4d7aca24a23aa26981c8e173600","object":"Shipment"}'
  recorded_at: Mon, 09 May 2016 19:57:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_9d1ee4d7aca24a23aa26981c8e173600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c241c440a8c5f92f635dda8c56c8cc4b"
      X-Node:
 [...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9d1ee4d7aca24a23aa26981c8e173600/buy
    body:
      encoding: US-ASCII
      string: rate[id]=rate_50dd6ba8fe114988be3ac7a10aa19a24
    headers:
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"[...]
