---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11867bf25b6edff1921001e2ab3
      Location:
      - "/api/v2/addresses/adr_576e3a1cf44e11efa647ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_576e3a1cf44e11efa647ac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:31:18+00:00","updated_at":"2025-02-26T14:31:18+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 14:31:18 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf25b8edff1944001e2cf1
      Location:
      - "/api/v2/parcels/prcl_e9d10b37c1634703b246c9beb8e84d51"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb55nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_e9d10b37c1634703b246c9beb8e84d51","object":"Parcel","created_at":"2025-02-26T14:31:20Z","updated_at":"2025-02-26T14:31:20Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 14:31:20 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_576e3a1cf44e11efa647ac1f6bc539ae"},"to_address":{"id":"adr_57fab35bf44e11efa536ac1f6bc539aa"},"parcel":{"id":"prcl_e9d10b37c1634703b246c9beb8e84d51"},"is_return":true,"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf25baedfef316001e2fc5
      Location:
      - "/api/v2/shipments/shp_67fb5bba4a4641239fc3867faf0ce516"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_67fb5bba4a4641239fc3867faf0ce516","created_at":"2025-02-26T14:31:22Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T14:31:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_576e3a1cf44e11efa647ac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:31:18+00:00","updated_at":"2025-02-26T14:31:18+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e9d10b37c1634703b246c9beb8e84d51","object":"Parcel","created_at":"2025-02-26T14:31:20Z","updated_at":"2025-02-26T14:31:20Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_afc30bd244d44ac0866e1fb427a7ebfb","object":"Rate","created_at":"2025-02-26T14:31:22Z","updated_at":"2025-02-26T14:31:22Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_67fb5bba4a4641239fc3867faf0ce516","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0c5d4c919f6b468d9f9ac6e2be9c130e","object":"Rate","created_at":"2025-02-26T14:31:22Z","updated_at":"2025-02-26T14:31:22Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_67fb5bba4a4641239fc3867faf0ce516","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b3d33052e2004f7dba9b6b48cc218e29","object":"Rate","created_at":"2025-02-26T14:31:22Z","updated_at":"2025-02-26T14:31:22Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_67fb5bba4a4641239fc3867faf0ce516","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_57fab35bf44e11efa536ac1f6bc539aa","object":"Address","created_at":"2025-02-26T14:31:19+00:00","updated_at":"2025-02-26T14:31:19+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_576e3a1cf44e11efa647ac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:31:18+00:00","updated_at":"2025-02-26T14:31:18+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_57fab35bf44e11efa536ac1f6bc539aa","object":"Address","created_at":"2025-02-26T14:31:19+00:00","updated_at":"2025-02-26T14:31:19+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 14:31:22 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_67fb5bba4a4641239fc3867faf0ce516/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_afc30bd244d44ac0866e1fb427a7ebfb"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11567bf25bbedfef339001e315c
      Content-Type:
      [...]
