---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/trackers
    body:
      encoding: UTF-8
      string: '{"tracker":{"tracking_code":"EZ1000000001","carrier":"UPS"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd4679a028cfb0ca2460026cfb2
      Location:
      - "/api/v2/trackers/trk_fac68cc4e107420d8e6cf11901a1d16a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202501290019-bdd2d6e460-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"trk_fac68cc4e107420d8e6cf11901a1d16a","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2025-01-29T10:27:22Z","updated_at":"2025-01-29T10:27:22Z","signed_by":null,"weight":17.6,"est_delivery_date":"2025-01-29T10:27:22Z","shipment_id":null,"carrier":"UPS","tracking_details":[{"object":"TrackingDetail","message":"BILLING
        INFORMATION RECEIVED","description":"","status":"pre_transit","status_detail":"status_update","datetime":"2024-12-30T00:51:22Z","source":"UPS","carrier_code":"","tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":{"object":"CarrierDetail","service":"2ND
        DAY AIR","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":null,"origin_tracking_location":null,"destination_location":"SAN
        FRANCISCO CA US, 94105","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2ZhYzY4Y2M0ZTEwNzQyMGQ4ZTZjZjExOTAxYTFkMTZh"}'
  recorded_at: Wed, 29 Jan 2025 10:27:25 GMT
recorded_with: VCR 6.3.1
