---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11867bf257fedff7f18001df5fa
      Location:
      - "/api/v2/addresses/adr_36ca9aeef44e11ef953cac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_36ca9aeef44e11ef953cac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:23+00:00","updated_at":"2025-02-26T14:30:23+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 14:30:23 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11567bf2581edff7f3d001df816
      Location:
      - "/api/v2/parcels/prcl_b379c1d10a1546bf9c16e09d68dcf886"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b379c1d10a1546bf9c16e09d68dcf886","object":"Parcel","created_at":"2025-02-26T14:30:25Z","updated_at":"2025-02-26T14:30:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 14:30:25 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_36ca9aeef44e11ef953cac1f6bc539ae"},"from_address":{"id":"adr_375dcfbdf44e11ef9581ac1f6bc539ae"},"parcel":{"id":"prcl_b379c1d10a1546bf9c16e09d68dcf886"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11367bf2582edff7f79001df94d
      Location:
      - "/api/v2/shipments/shp_007b7c59e4d34f65831dbef3a4acd1b7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_007b7c59e4d34f65831dbef3a4acd1b7","created_at":"2025-02-26T14:30:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T14:30:26Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_375dcfbdf44e11ef9581ac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:24+00:00","updated_at":"2025-02-26T14:30:24+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b379c1d10a1546bf9c16e09d68dcf886","object":"Parcel","created_at":"2025-02-26T14:30:25Z","updated_at":"2025-02-26T14:30:25Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_567246d71e20430aa2db25c81b8eb3e7","object":"Rate","created_at":"2025-02-26T14:30:26Z","updated_at":"2025-02-26T14:30:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_007b7c59e4d34f65831dbef3a4acd1b7","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_b676fe3fa3d64b619374b27c2d3de619","object":"Rate","created_at":"2025-02-26T14:30:26Z","updated_at":"2025-02-26T14:30:26Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_007b7c59e4d34f65831dbef3a4acd1b7","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_bc0a660c95fe4c1cbd661eb52b6cba9b","object":"Rate","created_at":"2025-02-26T14:30:26Z","updated_at":"2025-02-26T14:30:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_007b7c59e4d34f65831dbef3a4acd1b7","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_36ca9aeef44e11ef953cac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:23+00:00","updated_at":"2025-02-26T14:30:23+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_375dcfbdf44e11ef9581ac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:24+00:00","updated_at":"2025-02-26T14:30:24+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_36ca9aeef44e11ef953cac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:23+00:00","updated_at":"2025-02-26T14:30:23+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 14:30:26 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_007b7c59e4d34f65831dbef3a4acd1b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11567bf2583edff7f9a001dfa9d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_007b7c59e4d34f65831dbef3a4acd1b7/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_b676fe3fa3d64b619374b27c2d3de619"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf2584edff7fc1001dfbd0
      Content-Type:
      [...]
