---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: customs_item[id]=cstitem_1&customs_item[object]=CustomsItem&customs_item[description]=Product%20%2313%20-%202424&customs_item[quantity]=1&customs_item[amount]=10.0&customs_item[weight]=0.0&customs_item[code]=SKU-17&customs_item[origin_country]=US&customs_item[currency]=USD
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691045e67c88cf9f9c93b00047acd
      Location:
      - "/api/v2/customs_items/cstitem_48174addd2384321a4f5e8645568e4af"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1sj 4515783a4a
      - intlb1wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstitem_48174addd2384321a4f5e8645568e4af","object":"CustomsItem","created_at":"2020-03-10T17:04:12Z","updated_at":"2020-03-10T17:04:12Z","description":"Product
        #13 - 2424","hs_tariff_number":null,"origin_country":"US","quantity":1,"value":null,"weight":0.0,"code":"SKU-17","mode":"test","manufacturer":null,"currency":"USD"}'
  recorded_at: Tue, 10 Mar 2020 17:04:13 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: customs_info[object]=CustomsInfo&customs_info[eel_pfc]=NOEEI%2030.37(a)&customs_info[contents_type]=merchandise&customs_info[contents_explanation]=merchandise&customs_info[customs_certify]=true&customs_info[customs_signer]=John%20Doe&customs_info[customs_items][0][id]=cstitem_48174addd2384321a4f5e8645568e4af&customs_info[customs_items][1][id]=cstitem_ebc14eec1c6e46eea0d684[...]
