---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: customs_item[id]=cstitem_1&customs_item[object]=CustomsItem&customs_item[description]=Product%20%2316%20-%207469&customs_item[quantity]=1&customs_item[amount]=10.0&customs_item[weight]=0.0&customs_item[code]=SKU-21&customs_item[origin_country]=US&customs_item[currency]=USD
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691015e67c892fa09b45a00047de8
      Location:
      - "/api/v2/customs_items/cstitem_ed578a2c32904cbcb4dd572f31511349"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1sj 4515783a4a
      - intlb2wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstitem_ed578a2c32904cbcb4dd572f31511349","object":"CustomsItem","created_at":"2020-03-10T17:04:18Z","updated_at":"2020-03-10T17:04:18Z","description":"Product
        #16 - 7469","hs_tariff_number":null,"origin_country":"US","quantity":1,"value":null,"weight":0.0,"code":"SKU-21","mode":"test","manufacturer":null,"currency":"USD"}'
  recorded_at: Tue, 10 Mar 2020 17:04:19 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_infos
    body:
      encoding: UTF-8
      string: customs_info[object]=CustomsInfo&customs_info[eel_pfc]=NOEEI%2030.37(a)&customs_info[contents_type]=merchandise&customs_info[contents_explanation]=merchandise&customs_info[customs_certify]=true&customs_info[customs_signer]=John%20Doe&customs_info[customs_items][0][id]=cstitem_ed578a2c32904cbcb4dd572f31511349&customs_info[customs_items][1][id]=cstitem_9034728226cf481fb2caff[...]
