---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 168a58565e8a2ebcfebde29c00090d4d
      Location:
      - "/api/v2/addresses/adr_9a19446038374bfd9b8477efc469586b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202004040128-16fe9181c9-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 4515783a4a
      - intlb1wdc 1cda4c0014
      - intlb2sj 1cda4c0014
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_9a19446038374bfd9b8477efc469586b","object":"Address","created_at":"2020-04-05T19:17:16Z","updated_at":"2020-04-05T19:17:16Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Sun, 05 Apr 2020 19:17:16 GMT
recorded_with: VCR 5.1.0
