---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=215%20N%207th%20Ave&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e935e42bc5be0bb6111000601a5
      Location:
      - "/api/v2/addresses/adr_913cdea6667c4a8c9a6a3390248627f9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_913cdea6667c4a8c9a6a3390248627f9","object":"Address","created_at":"2020-02-11T14:38:19Z","updated_at":"2020-02-11T14:38:19Z","name":"John
        Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:38:20 GMT
recorded_with: VCR 5.1.0
