---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9085f155ebec874e3bc94420002b320
      Location:
      - "/api/v2/addresses/adr_bdbe8f25b2aa4398883bf58754d4e21d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202005142231-731311c147-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bdbe8f25b2aa4398883bf58754d4e21d","object":"Address","created_at":"2020-05-15T16:51:00Z","updated_at":"2020-05-15T16:51:00Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Fri, 15 May 2020 16:51:00 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9085f175ebec875e3bc94480002b3fe
      Location:
      - "/api/v2/parcels/prcl_38636048a4354a20a827d9e29c38dc4d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005142231-731311c147-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1sj 5834894b53
      - intlb1wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_38636048a4354a20a827d9e29c38dc4d","object":"Parcel","created_at":"2020-05-15T16:51:02Z","updated_at":"2020-05-15T16:51:02Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Fri, 15 May 2020 16:51:02 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_bdbe8f25b2aa4398883bf58754d4e21d&shipment[from_address][id]=adr_349e3e46ed964c1aa67a917e7a281ad1&shipment[parcel][id]=prcl_38636048a4354a20a827d9e29c38dc4d
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - d9085f125ebec876e3bc94640002b44a
      Location:
      - "/api/v2/shipments/shp_2fa869cc707f469d9fe41bef6053d55a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005142231-731311c147-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-15T16:51:02Z","is_return":false,"messages":[{"type":"rate_error","carrier":"USPS","message":"Unable
        to retrieve USPS rates without a valid origin zip code."}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-15T16:51:02Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_349e3e46ed964c1aa67a917e7a281ad1","object":"Address","created_at":"2020-05-15T16:51:01Z","updated_at":"2020-05-15T16:51:01Z","name":"No
        address","company":"No address","street1":null,"street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_38636048a4354a20a827d9e29c38dc4d","object":"Parcel","created_at":"2020-05-15T16:51:02Z","updated_at":"2020-05-15T16:51:02Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_bdbe8f25b2aa4398883bf58754d4e21d","object":"Address","created_at":"2020-05-15T16:51:00Z","updated_at":"2020-05-15T16:51:00Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":null,"return_address":{"id":"adr_349e3e46ed964c1aa67a917e7a281ad1","object":"Address","created_at":"2020-05-15T16:51:01Z","updated_at":"2020-05-15T16:51:01Z","name":"No
        address","company":"No address","street1":null,"street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_bdbe8f25b2aa4398883bf58754d4e21d","object":"Address","created_at":"2020-05-15T16:51:00Z","updated_at":"2020-05-15T16:51:00Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_2fa869cc707f469d9fe41bef6053d55a","object":"Shipment"}'
  recorded_at: Fri, 15 May 2020 16:51:03 GMT
recorded_with: VCR 5.1.0
