---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c15285555eb1cf3cf06e6e9e00023561
      Location:
      - "/api/v2/addresses/adr_5db72c7950a5453fa2e06c50924c74b6"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202005051643-87004530ea-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_5db72c7950a5453fa2e06c50924c74b6","object":"Address","created_at":"2020-05-05T20:40:28Z","updated_at":"2020-05-05T20:40:28Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 05 May 2020 20:40:28 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b6c3dd5e5eb1cf3ef390d20b0016f071
      Location:
      - "/api/v2/parcels/prcl_5662d0d1090f404889e394c6812a2e43"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005051643-87004530ea-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 5834894b53
      - intlb1sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_5662d0d1090f404889e394c6812a2e43","object":"Parcel","created_at":"2020-05-05T20:40:30Z","updated_at":"2020-05-05T20:40:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 05 May 2020 20:40:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_5db72c7950a5453fa2e06c50924c74b6&shipment[from_address][id]=adr_edc5173babc14c238a1e1fbd9472c68a&shipment[parcel][id]=prcl_5662d0d1090f404889e394c6812a2e43
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 3bc6fbde5eb1cf3ff390d20c000255e4
      Location:
      - "/api/v2/shipments/shp_58c6e47553ce464980bfd6ac77ed27d4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202005051643-87004530ea-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb1wdc 5834894b53
      - intlb2sj 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-05T20:40:31Z","is_return":false,"messages":[{"type":"rate_error","carrier":"USPS","message":"Unable
        to retrieve USPS rates without a valid origin zip code."}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-05T20:40:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_edc5173babc14c238a1e1fbd9472c68a","object":"Address","created_at":"2020-05-05T20:40:29Z","updated_at":"2020-05-05T20:40:29Z","name":"No
        address","company":"No address","street1":null,"street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5662d0d1090f404889e394c6812a2e43","object":"Parcel","created_at":"2020-05-05T20:40:30Z","updated_at":"2020-05-05T20:40:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_5db72c7950a5453fa2e06c50924c74b6","object":"Address","created_at":"2020-05-05T20:40:28Z","updated_at":"2020-05-05T20:40:28Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":null,"return_address":{"id":"adr_edc5173babc14c238a1e1fbd9472c68a","object":"Address","created_at":"2020-05-05T20:40:29Z","updated_at":"2020-05-05T20:40:29Z","name":"No
        address","company":"No address","street1":null,"street2":null,"city":null,"state":null,"zip":null,"country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_5db72c7950a5453fa2e06c50924c74b6","object":"Address","created_at":"2020-05-05T20:40:28Z","updated_at":"2020-05-05T20:40:28Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_58c6e47553ce464980bfd6ac77ed27d4","object":"Shipment"}'
  recorded_at: Tue, 05 May 2020 20:40:31 GMT
recorded_with: VCR 5.1.0
