---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 641fbcc85eb1c489f390ce6e0018212f
      Location:
      - "/api/v2/addresses/adr_bbd9f7e46a1a49fd9b6a204f63fddd23"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202005051643-87004530ea-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bbd9f7e46a1a49fd9b6a204f63fddd23","object":"Address","created_at":"2020-05-05T19:54:49Z","updated_at":"2020-05-05T19:54:49Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 05 May 2020 19:54:49 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ed91f1085eb1c48bf390ce7000142ad5
      Location:
      - "/api/v2/parcels/prcl_1e7ae8e36c04480085b62c716356fbc2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202005051643-87004530ea-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_1e7ae8e36c04480085b62c716356fbc2","object":"Parcel","created_at":"2020-05-05T19:54:51Z","updated_at":"2020-05-05T19:54:51Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 05 May 2020 19:54:51 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_bbd9f7e46a1a49fd9b6a204f63fddd23&shipment[from_address][id]=adr_445d16076d6c4a148a4d0d24539114ce&shipment[parcel][id]=prcl_1e7ae8e36c04480085b62c716356fbc2
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ed91f1045eb1c48cf390d17f00142b17
      Location:
      - "/api/v2/shipments/shp_f8bf69d3c83f433990267c20d1043d66"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202005051643-87004530ea-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 5834894b53
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-05-05T19:54:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-05T19:54:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_445d16076d6c4a148a4d0d24539114ce","object":"Address","created_at":"2020-05-05T19:54:50Z","updated_at":"2020-05-05T19:54:50Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1e7ae8e36c04480085b62c716356fbc2","object":"Parcel","created_at":"2020-05-05T19:54:51Z","updated_at":"2020-05-05T19:54:51Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_90b802d76234497eb762a81df47971da","object":"Rate","created_at":"2020-05-05T19:54:52Z","updated_at":"2020-05-05T19:54:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.64","currency":"USD","retail_rate":"8.25","retail_currency":"USD","list_rate":"7.64","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f8bf69d3c83f433990267c20d1043d66","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_4d1ab3a1f0494706834dac1a7ea360db","object":"Rate","created_at":"2020-05-05T19:54:52Z","updated_at":"2020-05-05T19:54:52Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.54","currency":"USD","retail_rate":"7.54","retail_currency":"USD","list_rate":"7.54","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f8bf69d3c83f433990267c20d1043d66","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_df96978ffed14995b22c4f0d85504f6d","object":"Rate","created_at":"2020-05-05T19:54:52Z","updated_at":"2020-05-05T19:54:52Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.15","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f8bf69d3c83f433990267c20d1043d66","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_bbd9f7e46a1a49fd9b6a204f63fddd23","object":"Address","created_at":"2020-05-05T19:54:49Z","updated_at":"2020-05-05T19:54:49Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_445d16076d6c4a148a4d0d24539114ce","object":"Address","created_at":"2020-05-05T19:54:50Z","updated_at":"2020-05-05T19:54:50Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_bbd9f7e46a1a49fd9b6a204f63fddd23","object":"Address","created_at":"2020-05-05T19:54:49Z","updated_at":"2020-05-05T19:54:49Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_f8bf69d3c83f433990267c20d1043d66","object":"Shipment"}'
  recorded_at: Tue, 05 May 2020 19:54:52 GMT
[...]
