---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d93c6798d403ecc89c4f00079929
      Location:
      - "/api/v2/addresses/adr_4df802f7dd7711efa8f1ac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4df802f7dd7711efa8f1ac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:35+00:00","updated_at":"2025-01-28T12:56:35+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 28 Jan 2025 12:56:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d93f6798d405ecc89cae00079b7d
      Location:
      - "/api/v2/parcels/prcl_f25569743f094039b7f0aba081c71f58"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb59nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_f25569743f094039b7f0aba081c71f58","object":"Parcel","created_at":"2025-01-28T12:56:37Z","updated_at":"2025-01-28T12:56:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 28 Jan 2025 12:56:37 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_4df802f7dd7711efa8f1ac1f6bc539aa"},"from_address":{"id":"adr_4e902f96dd7711efa93cac1f6bc539aa"},"parcel":{"id":"prcl_f25569743f094039b7f0aba081c71f58"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d9396798d406ecc89ccb00079c6a
      Location:
      - "/api/v2/shipments/shp_2dda6e133a6742bc9e84b73d0808ef13"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_2dda6e133a6742bc9e84b73d0808ef13","created_at":"2025-01-28T12:56:38Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-01-28T12:56:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4e902f96dd7711efa93cac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:36+00:00","updated_at":"2025-01-28T12:56:36+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f25569743f094039b7f0aba081c71f58","object":"Parcel","created_at":"2025-01-28T12:56:37Z","updated_at":"2025-01-28T12:56:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_38fa09072ef949eb8d13b7d6708a688d","object":"Rate","created_at":"2025-01-28T12:56:38Z","updated_at":"2025-01-28T12:56:38Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2dda6e133a6742bc9e84b73d0808ef13","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_3a19cc01f4f34c9a91c3ba623dc2323b","object":"Rate","created_at":"2025-01-28T12:56:38Z","updated_at":"2025-01-28T12:56:38Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2dda6e133a6742bc9e84b73d0808ef13","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_6030a146bfde4a8bac5023cd0fe140b3","object":"Rate","created_at":"2025-01-28T12:56:38Z","updated_at":"2025-01-28T12:56:38Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2dda6e133a6742bc9e84b73d0808ef13","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_4df802f7dd7711efa8f1ac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:35+00:00","updated_at":"2025-01-28T12:56:35+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4e902f96dd7711efa93cac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:36+00:00","updated_at":"2025-01-28T12:56:36+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_4df802f7dd7711efa8f1ac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:35+00:00","updated_at":"2025-01-28T12:56:35+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Tue, 28 Jan 2025 12:56:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_2dda6e133a6742bc9e84b73d0808ef13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c755d93f6798d408ecc89cd300079d9f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
