---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5767c0215cedf1f11100161d2f
      Location:
      - "/api/v2/addresses/adr_55c62a05f4e411efaf3bac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_55c62a05f4e411efaf3bac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:25:00+00:00","updated_at":"2025-02-27T08:25:00+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 27 Feb 2025 08:25:00 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5967c0215eedf1e3c800161f65
      Location:
      - "/api/v2/parcels/prcl_3d32023dd78a43a586ad06b01f4ea764"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_3d32023dd78a43a586ad06b01f4ea764","object":"Parcel","created_at":"2025-02-27T08:25:02Z","updated_at":"2025-02-27T08:25:02Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Thu, 27 Feb 2025 08:25:02 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_55c62a05f4e411efaf3bac1f6bc539aa"},"from_address":{"id":"adr_566dba1cf4e411ef94be3cecef1b359e"},"parcel":{"id":"prcl_3d32023dd78a43a586ad06b01f4ea764"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5967c0215fedf1e3ce00162019
      Location:
      - "/api/v2/shipments/shp_4d9bd0ba43864f0ea0e091bab3d0e55e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_4d9bd0ba43864f0ea0e091bab3d0e55e","created_at":"2025-02-27T08:25:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-27T08:25:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_566dba1cf4e411ef94be3cecef1b359e","object":"Address","created_at":"2025-02-27T08:25:01+00:00","updated_at":"2025-02-27T08:25:01+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3d32023dd78a43a586ad06b01f4ea764","object":"Parcel","created_at":"2025-02-27T08:25:02Z","updated_at":"2025-02-27T08:25:02Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_af59a5e4b2c64d5e88f8b270955e6ee3","object":"Rate","created_at":"2025-02-27T08:25:03Z","updated_at":"2025-02-27T08:25:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_4d9bd0ba43864f0ea0e091bab3d0e55e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_42b31f9933b84a5aadd2d199ec829e73","object":"Rate","created_at":"2025-02-27T08:25:03Z","updated_at":"2025-02-27T08:25:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4d9bd0ba43864f0ea0e091bab3d0e55e","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0cb8b1635cc74c1ba773f80440274994","object":"Rate","created_at":"2025-02-27T08:25:03Z","updated_at":"2025-02-27T08:25:03Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4d9bd0ba43864f0ea0e091bab3d0e55e","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_55c62a05f4e411efaf3bac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:25:00+00:00","updated_at":"2025-02-27T08:25:00+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_566dba1cf4e411ef94be3cecef1b359e","object":"Address","created_at":"2025-02-27T08:25:01+00:00","updated_at":"2025-02-27T08:25:01+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_55c62a05f4e411efaf3bac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:25:00+00:00","updated_at":"2025-02-27T08:25:00+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Thu, 27 Feb 2025 08:25:03 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_4d9bd0ba43864f0ea0e091bab3d0e55e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c735ca5667c02160edf1e3e7001621ec
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
