---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d93a6798d3fcecc82197000793ae
      Location:
      - "/api/v2/addresses/adr_49e2798bdd7711efaf8e3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_49e2798bdd7711efaf8e3cecef1b359e","object":"Address","created_at":"2025-01-28T12:56:28+00:00","updated_at":"2025-01-28T12:56:28+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 28 Jan 2025 12:56:28 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d9406798d3feecc824ca00079554
      Location:
      - "/api/v2/parcels/prcl_ee2267b8f1b24f448d76e74f4f995c51"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_ee2267b8f1b24f448d76e74f4f995c51","object":"Parcel","created_at":"2025-01-28T12:56:30Z","updated_at":"2025-01-28T12:56:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 28 Jan 2025 12:56:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_49e2798bdd7711efaf8e3cecef1b359e"},"from_address":{"id":"adr_4a73a182dd7711efa759ac1f6bc539aa"},"parcel":{"id":"prcl_ee2267b8f1b24f448d76e74f4f995c51"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d93b6798d3ffecc824d0000795f7
      Location:
      - "/api/v2/shipments/shp_7e51e95174d7483b89ced5f82848eb7a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_7e51e95174d7483b89ced5f82848eb7a","created_at":"2025-01-28T12:56:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-01-28T12:56:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4a73a182dd7711efa759ac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:29+00:00","updated_at":"2025-01-28T12:56:29+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ee2267b8f1b24f448d76e74f4f995c51","object":"Parcel","created_at":"2025-01-28T12:56:30Z","updated_at":"2025-01-28T12:56:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1d453439ab4340fd8896707289a18009","object":"Rate","created_at":"2025-01-28T12:56:31Z","updated_at":"2025-01-28T12:56:31Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_7e51e95174d7483b89ced5f82848eb7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_04f860f80f804240b44207dacd97e0bb","object":"Rate","created_at":"2025-01-28T12:56:31Z","updated_at":"2025-01-28T12:56:31Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7e51e95174d7483b89ced5f82848eb7a","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_4c1df64e061e47ad8cdf98041c62b84b","object":"Rate","created_at":"2025-01-28T12:56:31Z","updated_at":"2025-01-28T12:56:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_7e51e95174d7483b89ced5f82848eb7a","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_49e2798bdd7711efaf8e3cecef1b359e","object":"Address","created_at":"2025-01-28T12:56:28+00:00","updated_at":"2025-01-28T12:56:28+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4a73a182dd7711efa759ac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:56:29+00:00","updated_at":"2025-01-28T12:56:29+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_49e2798bdd7711efaf8e3cecef1b359e","object":"Address","created_at":"2025-01-28T12:56:28+00:00","updated_at":"2025-01-28T12:56:28+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Tue, 28 Jan 2025 12:56:31 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_7e51e95174d7483b89ced5f82848eb7a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c755d93b6798d401ecc824ef000797f6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_7e51e95174d7483b89ced5f82848eb7a","created_at":"2025-01-28T12:56:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-01-28T12:56:31Z","batch_id":null,"batch_status":null,"batch_message":null,"custo[...]
