---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","zip":"10009","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd5679a0342faf637b900272fee
      Location:
      - "/api/v2/addresses/adr_0e1080c3de2c11ef8f1cac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202501290019-bdd2d6e460-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_0e1080c3de2c11ef8f1cac1f6bc53342","object":"Address","created_at":"2025-01-29T10:30:26+00:00","updated_at":"2025-01-29T10:30:26+00:00","name":"John
        Von Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"10009","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 29 Jan 2025 10:30:26 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd5679a0344faf637e0002730dc
      Location:
      - "/api/v2/parcels/prcl_0f1a1e0a85f54f10bc2bfb6d31d8fda7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb42nuq
      X-Version-Label:
      - easypost-202501290019-bdd2d6e460-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_0f1a1e0a85f54f10bc2bfb6d31d8fda7","object":"Parcel","created_at":"2025-01-29T10:30:28Z","updated_at":"2025-01-29T10:30:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 29 Jan 2025 10:30:28 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_0e1080c3de2c11ef8f1cac1f6bc53342"},"from_address":{"id":"adr_0ea1e69dde2c11ef84643cecef1b359e"},"parcel":{"id":"prcl_0f1a1e0a85f54f10bc2bfb6d31d8fda7"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd8679a0345faf637fb00273157
      Location:
      - "/api/v2/shipments/shp_eafcc9e1bd1f426fbf6275b5399b386a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202501290019-bdd2d6e460-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_eafcc9e1bd1f426fbf6275b5399b386a","created_at":"2025-01-29T10:30:29Z","is_return":false,"messages":[{"carrier":"UPSDAP","carrier_account_id":"ca_d171cf0915a044c8afb72148dbfa06e1","type":"rate_error","message":"There
        was a problem setting up your UPS DAP account. Please visit https://www.easypost.com/account/settings?tab=carriers
        to finish setup."},{"carrier":"FedEx","carrier_account_id":"ca_eed93d8ae57847ffae858f3322b3cfd5","type":"rate_error","message":"Destination
        Postal-State Mismatch."}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-01-29T10:30:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0ea1e69dde2c11ef84643cecef1b359e","object":"Address","created_at":"2025-01-29T10:30:27+00:00","updated_at":"2025-01-29T10:30:27+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0f1a1e0a85f54f10bc2bfb6d31d8fda7","object":"Parcel","created_at":"2025-01-29T10:30:28Z","updated_at":"2025-01-29T10:30:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_64b21063909040789563a1901b546f7a","object":"Rate","created_at":"2025-01-29T10:30:30Z","updated_at":"2025-01-29T10:30:30Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_eafcc9e1bd1f426fbf6275b5399b386a","carrier_account_id":"ca_8904ac884ad34d249c293f556e04c61c"},{"id":"rate_cc5923c6d6284555b7f9e36ed3d01748","object":"Rate","created_at":"2025-01-29T10:30:30Z","updated_at":"2025-01-29T10:30:30Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_eafcc9e1bd1f426fbf6275b5399b386a","carrier_account_id":"ca_8904ac884ad34d249c293f556e04c61c"},{"id":"rate_4d2adf42d4bc4b7f99739b11e07f84e8","object":"Rate","created_at":"2025-01-29T10:30:30Z","updated_at":"2025-01-29T10:30:30Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_eafcc9e1bd1f426fbf6275b5399b386a","carrier_account_id":"ca_8904ac884ad34d249c293f556e04c61c"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_0e1080c3de2c11ef8f1cac1f6bc53342","object":"Address","created_at":"2025-01-29T10:30:26+00:00","updated_at":"2025-01-29T10:30:26+00:00","name":"John
        Von Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"10009","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_0ea1e69dde2c11ef84643cecef1b359e","object":"Address","created_at":"2025-01-29T10:30:27+00:00","updated_at":"2025-01-29T10:30:27+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_0e1080c3de2c11ef8f1cac1f6bc53342","object":"Address","created_at":"2025-01-29T10:30:26+00:00","updated_at":"2025-01-29T10:30:26+00:00","name":"John
        Von Doe","company":"Company","street1":"10 Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","zip":"10009","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 29 Jan 2025 10:30:30 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_eafcc9e1bd1f426fbf6275b5399b386a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd4679a0347fb0c338900273250
      Content-Type:
      - application/json; c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_eafcc9e1bd1f426fbf6275b5399b386a/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_64b21063909040789563a1901b546f7a"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd2679a0348fb0c33c[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_eafcc9e1bd1f426fbf6275b5399b386a/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_64b21063909040789563a1901b546f7a"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer EZTK7a6ff68ea56b4a2e8d0479b413a1614fQJjv6mxzZqzX53ZUa0FpAA
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Ep-Request-Uuid:
      - ed2e6fd8679a034afb0c33c9002733f8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202501290019-bdd2d6e460-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"SHIPMENT.POSTAGE.EXISTS","message":"Postage already
        exists for this shipment.","errors":[]}}'
  recorded_at: Wed, 29 Jan 2025 10:30:34 GMT
recorded_with: VCR 6.3.1
