---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5867c0217bedff87fb001643b8
      Location:
      - "/api/v2/addresses/adr_68a05cfaf4e411ef87b6ac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb55nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_68a05cfaf4e411ef87b6ac1f6bc53342","object":"Address","created_at":"2025-02-27T08:25:31+00:00","updated_at":"2025-02-27T08:25:31+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 27 Feb 2025 08:25:31 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5567c0217dedff881e00164554
      Location:
      - "/api/v2/parcels/prcl_d35e8cca59d340b5ab0f84db34a4b8e0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_d35e8cca59d340b5ab0f84db34a4b8e0","object":"Parcel","created_at":"2025-02-27T08:25:33Z","updated_at":"2025-02-27T08:25:33Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Thu, 27 Feb 2025 08:25:33 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_68a05cfaf4e411ef87b6ac1f6bc53342"},"from_address":{"id":"adr_6946fec9f4e411efb24dac1f6bc539aa"},"parcel":{"id":"prcl_d35e8cca59d340b5ab0f84db34a4b8e0"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5767c0217eedff88220016462f
      Location:
      - "/api/v2/shipments/shp_16c64ca387d94293b7ea342930c88968"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_16c64ca387d94293b7ea342930c88968","created_at":"2025-02-27T08:25:34Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-27T08:25:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6946fec9f4e411efb24dac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:25:32+00:00","updated_at":"2025-02-27T08:25:32+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d35e8cca59d340b5ab0f84db34a4b8e0","object":"Parcel","created_at":"2025-02-27T08:25:33Z","updated_at":"2025-02-27T08:25:33Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d878a0d7483548a0afa8552bd3835860","object":"Rate","created_at":"2025-02-27T08:25:34Z","updated_at":"2025-02-27T08:25:34Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_16c64ca387d94293b7ea342930c88968","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_10826f16f24a46168cee568eccc9e01f","object":"Rate","created_at":"2025-02-27T08:25:34Z","updated_at":"2025-02-27T08:25:34Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_16c64ca387d94293b7ea342930c88968","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0962909082fe41bdb8fd098aac49e10e","object":"Rate","created_at":"2025-02-27T08:25:34Z","updated_at":"2025-02-27T08:25:34Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_16c64ca387d94293b7ea342930c88968","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_68a05cfaf4e411ef87b6ac1f6bc53342","object":"Address","created_at":"2025-02-27T08:25:31+00:00","updated_at":"2025-02-27T08:25:31+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_6946fec9f4e411efb24dac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:25:32+00:00","updated_at":"2025-02-27T08:25:32+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_68a05cfaf4e411ef87b6ac1f6bc53342","object":"Address","created_at":"2025-02-27T08:25:31+00:00","updated_at":"2025-02-27T08:25:31+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Thu, 27 Feb 2025 08:25:35 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_16c64ca387d94293b7ea342930c88968
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c735ca5a67c02180edff883d00164733
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
