---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/customs_items
    body:
      encoding: UTF-8
      string: customs_item[id]=cstitem_1&customs_item[object]=CustomsItem&customs_item[description]=Product%20%2316%20-%20950&customs_item[quantity]=1&customs_item[amount]=10.0&customs_item[weight]=0.0&customs_item[code]=SKU-21&customs_item[origin_country]=US&customs_item[currency]=USD
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 12effdaf5e67c613f9f8c51b00000907
      Location:
      - "/api/v2/customs_items/cstitem_2e24c5d82b914dab80c8cc8ab8cfba85"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 4515783a4a
      - intlb1sj 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"cstitem_2e24c5d82b914dab80c8cc8ab8cfba85","object":"CustomsItem","created_at":"2020-03-10T16:53:39Z","updated_at":"2020-03-10T16:53:39Z","description":"Product
        #16 - 950","hs_tariff_number":null,"origin_country":"US","quantity":1,"value":null,"weight":0.0,"code":"SKU-21","mode":"test","manufacturer":null,"currency":"USD"}'
  recorded_at: Tue, 10 Mar 2020 16:53:39 GMT
[...]
