---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=131%20S%208th%20Ave&address[city]=Manville&address[zip]=08835&address[phone]=(202)%20456-1111&address[name]=NY%20Warehouse&address[company]=NY%20Warehouse&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e925e42bc3ae0bb5d5b0005f82b
      Location:
      - "/api/v2/addresses/adr_90a6cdb20dbc41dc815cb1c82dd66881"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1wdc 0653d0f1e8
      - intlb2sj 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_90a6cdb20dbc41dc815cb1c82dd66881","object":"Address","created_at":"2020-02-11T14:37:46Z","updated_at":"2020-02-11T14:37:46Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:37:46 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc3be0bb5d730005f871
      Location:
      - "/api/v2/addresses/adr_e8dc1473bb5740d4997960cd757cc3e9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1wdc 0653d0f1e8
      - intlb2sj 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_e8dc1473bb5740d4997960cd757cc3e9","object":"Address","created_at":"2020-02-11T14:37:47Z","updated_at":"2020-02-11T14:37:47Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:37:47 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8f5e42bc3ce0bb5d740005f8b7
      Location:
      - "/api/v2/parcels/prcl_f3ad362f9b984639aedb875314e8d43a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1sj 0653d0f1e8
      - intlb1wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_f3ad362f9b984639aedb875314e8d43a","object":"Parcel","created_at":"2020-02-11T14:37:48Z","updated_at":"2020-02-11T14:37:48Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 11 Feb 2020 14:37:48 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[from_address][id]=adr_90a6cdb20dbc41dc815cb1c82dd66881&shipment[to_address][id]=adr_e8dc1473bb5740d4997960cd757cc3e9&shipment[parcel][id]=prcl_f3ad362f9b984639aedb875314e8d43a&shipment[is_return]=true
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e935e42bc3de0bb5d770005f8fd
      Location:
      - "/api/v2/shipments/shp_b5303d06f3b5481b837d9a1212628a17"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1wdc 0653d0f1e8
      - intlb2sj 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-02-11T14:37:49Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-02-11T14:37:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_90a6cdb20dbc41dc815cb1c82dd66881","object":"Address","created_at":"2020-02-11T14:37:46Z","updated_at":"2020-02-11T14:37:46Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f3ad362f9b984639aedb875314e8d43a","object":"Parcel","created_at":"2020-02-11T14:37:48Z","updated_at":"2020-02-11T14:37:48Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_cd8c4da59a5c48ce807e9c77fdba6282","object":"Rate","created_at":"2020-02-11T14:37:49Z","updated_at":"2020-02-11T14:37:49Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_b5303d06f3b5481b837d9a1212628a17","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_eff534ac12eb4c6abb0c663eae375a7b","object":"Rate","created_at":"2020-02-11T14:37:49Z","updated_at":"2020-02-11T14:37:49Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b5303d06f3b5481b837d9a1212628a17","carrier_accou[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_b5303d06f3b5481b837d9a1212628a17/buy
    body:
      encoding: UTF-8
      string: rate[id]=rate_cd8c4da59a5c48ce807e9c77fdba6282
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc3ee[...]
