---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":10.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f9acdc7f67c160b0edff04e4000a8de9
      Location:
      - "/api/v2/parcels/prcl_9ff77a070a6b47ca87744770c5869e60"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202502272317-776f31c012-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_9ff77a070a6b47ca87744770c5869e60","object":"Parcel","created_at":"2025-02-28T07:07:28Z","updated_at":"2025-02-28T07:07:28Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Fri, 28 Feb 2025 07:07:28 GMT
recorded_with: VCR 6.3.1
