---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11a67bf2588edf1e323001dffcc
      Location:
      - "/api/v2/addresses/adr_3c1b403bf44e11ef985aac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3c1b403bf44e11ef985aac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:32+00:00","updated_at":"2025-02-26T14:30:32+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 14:30:32 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf258aedf1e34a001e01d7
      Location:
      - "/api/v2/parcels/prcl_a65e3b888478466c828b0fe6e5c4c729"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_a65e3b888478466c828b0fe6e5c4c729","object":"Parcel","created_at":"2025-02-26T14:30:34Z","updated_at":"2025-02-26T14:30:34Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 14:30:34 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_3c1b403bf44e11ef985aac1f6bc539ae"},"from_address":{"id":"adr_3ce0bda2f44e11efaf223cecef1b359e"},"parcel":{"id":"prcl_a65e3b888478466c828b0fe6e5c4c729"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11567bf258bedf1e388001e02a5
      Location:
      - "/api/v2/shipments/shp_e95973b74a3e444685a583554ada7ecc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_e95973b74a3e444685a583554ada7ecc","created_at":"2025-02-26T14:30:35Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T14:30:35Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_3ce0bda2f44e11efaf223cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:33+00:00","updated_at":"2025-02-26T14:30:33+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a65e3b888478466c828b0fe6e5c4c729","object":"Parcel","created_at":"2025-02-26T14:30:34Z","updated_at":"2025-02-26T14:30:34Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c9755e3a45894fba9a6c4f96d8ed5ac1","object":"Rate","created_at":"2025-02-26T14:30:35Z","updated_at":"2025-02-26T14:30:35Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e95973b74a3e444685a583554ada7ecc","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_86b5b5bd86194cc2962087e48ae0b89c","object":"Rate","created_at":"2025-02-26T14:30:35Z","updated_at":"2025-02-26T14:30:35Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e95973b74a3e444685a583554ada7ecc","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_043bb042e68b4c6c8f5b4eec76dcfafd","object":"Rate","created_at":"2025-02-26T14:30:35Z","updated_at":"2025-02-26T14:30:35Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e95973b74a3e444685a583554ada7ecc","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_3c1b403bf44e11ef985aac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:32+00:00","updated_at":"2025-02-26T14:30:32+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_3ce0bda2f44e11efaf223cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:33+00:00","updated_at":"2025-02-26T14:30:33+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_3c1b403bf44e11ef985aac1f6bc539ae","object":"Address","created_at":"2025-02-26T14:30:32+00:00","updated_at":"2025-02-26T14:30:32+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 14:30:35 GMT
recorded_with: VCR 6.3.1
