---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf258dedf1e3a5001e04cf
      Location:
      - "/api/v2/addresses/adr_3f11855df44e11ef98abac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb55nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3f11855df44e11ef98abac1f6bc539aa","object":"Address","created_at":"2025-02-26T14:30:37+00:00","updated_at":"2025-02-26T14:30:37+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 14:30:37 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf2590edf1e3e7001e07c5
      Location:
      - "/api/v2/parcels/prcl_cdefb579b66844d5a370fd4c7ef4e7c0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_cdefb579b66844d5a370fd4c7ef4e7c0","object":"Parcel","created_at":"2025-02-26T14:30:40Z","updated_at":"2025-02-26T14:30:40Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 14:30:40 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_3f11855df44e11ef98abac1f6bc539aa"},"from_address":{"id":"adr_4038a54af44e11efb1223cecef1b359e"},"parcel":{"id":"prcl_cdefb579b66844d5a370fd4c7ef4e7c0"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf2591edff1541001e08bd
      Location:
      - "/api/v2/shipments/shp_3096d4a4b44a48a9926316e5d5bb57cb"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_3096d4a4b44a48a9926316e5d5bb57cb","created_at":"2025-02-26T14:30:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T14:30:41Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4038a54af44e11efb1223cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:39+00:00","updated_at":"2025-02-26T14:30:39+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cdefb579b66844d5a370fd4c7ef4e7c0","object":"Parcel","created_at":"2025-02-26T14:30:40Z","updated_at":"2025-02-26T14:30:40Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_4f7014f397cb4640973bb81e6726d133","object":"Rate","created_at":"2025-02-26T14:30:41Z","updated_at":"2025-02-26T14:30:41Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3096d4a4b44a48a9926316e5d5bb57cb","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_3cc863bebf184b08be24de83b4a23766","object":"Rate","created_at":"2025-02-26T14:30:41Z","updated_at":"2025-02-26T14:30:41Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_3096d4a4b44a48a9926316e5d5bb57cb","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e13fd6dbd77f40be8bc90d9c933479ad","object":"Rate","created_at":"2025-02-26T14:30:41Z","updated_at":"2025-02-26T14:30:41Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3096d4a4b44a48a9926316e5d5bb57cb","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_3f11855df44e11ef98abac1f6bc539aa","object":"Address","created_at":"2025-02-26T14:30:37+00:00","updated_at":"2025-02-26T14:30:37+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4038a54af44e11efb1223cecef1b359e","object":"Address","created_at":"2025-02-26T14:30:39+00:00","updated_at":"2025-02-26T14:30:39+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_3f11855df44e11ef98abac1f6bc539aa","object":"Address","created_at":"2025-02-26T14:30:37+00:00","updated_at":"2025-02-26T14:30:37+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 14:30:41 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_3096d4a4b44a48a9926316e5d5bb57cb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11967bf2592edff1566001e0a4f
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_3096d4a4b44a48a9926316e5d5bb57cb/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_4f7014f397cb4640973bb81e6726d133"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11867bf2593edff1585001e0b4d
      Content-Type:
      [...]
