---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691055e67c9b7f9f82c380005105b
      Location:
      - "/api/v2/addresses/adr_3c8fb5a4e84f4a0ea7317bd998c962b1"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1sj 4515783a4a
      - intlb1wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3c8fb5a4e84f4a0ea7317bd998c962b1","object":"Address","created_at":"2020-03-10T17:09:11Z","updated_at":"2020-03-10T17:09:11Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Mar 2020 17:09:11 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691005e67c9b9f9f8c5390005117e
      Location:
      - "/api/v2/parcels/prcl_d71b16714a3d47b5bf5ca7f51060b120"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1sj 4515783a4a
      - intlb2wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_d71b16714a3d47b5bf5ca7f51060b120","object":"Parcel","created_at":"2020-03-10T17:09:14Z","updated_at":"2020-03-10T17:09:14Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 10 Mar 2020 17:09:14 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_3c8fb5a4e84f4a0ea7317bd998c962b1&shipment[from_address][id]=adr_02c7b3b4151e404d9cfae5a845c73092&shipment[parcel][id]=prcl_d71b16714a3d47b5bf5ca7f51060b120
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691005e67c9bcf9f8131400051273
      Location:
      - "/api/v2/shipments/shp_174f19b1675c4a4c9e2f5365bbbc39fc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1sj 4515783a4a
      - intlb2wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-03-10T17:09:16Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-03-10T17:09:16Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_02c7b3b4151e404d9cfae5a845c73092","object":"Address","created_at":"2020-03-10T17:09:12Z","updated_at":"2020-03-10T17:09:12Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d71b16714a3d47b5bf5ca7f51060b120","object":"Parcel","created_at":"2020-03-10T17:09:14Z","updated_at":"2020-03-10T17:09:14Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2f7bf40cf3914dd48e46765f546e7c5c","object":"Rate","created_at":"2020-03-10T17:09:16Z","updated_at":"2020-03-10T17:09:16Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.15","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_174f19b1675c4a4c9e2f5365bbbc39fc","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_94c0deee763848d681f8c03476d56d81","object":"Rate","created_at":"2020-03-10T17:09:16Z","updated_at":"2020-03-10T17:09:16Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.54","currency":"USD","retail_rate":"7.54","retail_currency":"USD","list_rate":"7.54","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_174f19b1675c4a4c9e2f5365bbbc39fc","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_e933583fa9c748c59ea22d0eeeb83e66","object":"Rate","created_at":"2020-03-10T17:09:16Z","updated_at":"2020-03-10T17:09:16Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.64","currency":"USD","retail_rate":"8.25","retail_currency":"USD","list_rate":"7.64","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_174f19b1675c4a4c9e2f5365bbbc39fc","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_3c8fb5a4e84f4a0ea7317bd998c962b1","object":"Address","created_at":"2020-03-10T17:09:11Z","updated_at":"2020-03-10T17:09:11Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_02c7b3b4151e404d9cfae5a845c73092","object":"Address","created_at":"2020-03-10T17:09:12Z","updated_at":"2020-03-10T17:09:12Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_3c8fb5a4e84f4a0ea7317bd998c962b1","object":"Address","created_at":"2020-03-10T17:09:11Z","updated_at":"2020-03-10T17:09:11Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_174f19b1675c4a4c9e2f5365bbbc39fc","object":"Shipment"}'
  recorded_at: Tue, 10 Mar 2020 17:09:16 GMT
recorded_with: VCR 5.1.0
