---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691015e67c9bdf9f7abf20005133e
      Location:
      - "/api/v2/addresses/adr_55ef09bd09dd433eb8bf2fe5e193fda4"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb2sj 4515783a4a
      - intlb2wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_55ef09bd09dd433eb8bf2fe5e193fda4","object":"Address","created_at":"2020-03-10T17:09:18Z","updated_at":"2020-03-10T17:09:18Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 10 Mar 2020 17:09:18 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=20.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691005e67c9c1fa0889a70005149c
      Location:
      - "/api/v2/parcels/prcl_3d60ab3a645846cb921c75ac81201999"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1wdc 4515783a4a
      - intlb2sj 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_3d60ab3a645846cb921c75ac81201999","object":"Parcel","created_at":"2020-03-10T17:09:21Z","updated_at":"2020-03-10T17:09:21Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Tue, 10 Mar 2020 17:09:21 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_55ef09bd09dd433eb8bf2fe5e193fda4&shipment[from_address][id]=adr_f12de2343e1c47b986acbcb11de37e2a&shipment[parcel][id]=prcl_3d60ab3a645846cb921c75ac81201999
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 85e691045e67c9c3f9f9d555000515a1
      Location:
      - "/api/v2/shipments/shp_c3f16778617d4e348ad2bd1433d5f5b2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202003092309-e891dbcc33-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 4515783a4a
      - intlb1sj 4515783a4a
      - intlb1wdc 4515783a4a
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-03-10T17:09:23Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-03-10T17:09:23Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f12de2343e1c47b986acbcb11de37e2a","object":"Address","created_at":"2020-03-10T17:09:19Z","updated_at":"2020-03-10T17:09:19Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3d60ab3a645846cb921c75ac81201999","object":"Parcel","created_at":"2020-03-10T17:09:21Z","updated_at":"2020-03-10T17:09:21Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_35957da84fb54d93a9be9306e9789d71","object":"Rate","created_at":"2020-03-10T17:09:24Z","updated_at":"2020-03-10T17:09:24Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.54","currency":"USD","retail_rate":"7.54","retail_currency":"USD","list_rate":"7.54","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c3f16778617d4e348ad2bd1433d5f5b2","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_d9c8898f07784f39b8fd94115e6aace7","object":"Rate","created_at":"2020-03-10T17:09:24Z","updated_at":"2020-03-10T17:09:24Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.64","currency":"USD","retail_rate":"8.25","retail_currency":"USD","list_rate":"7.64","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_c3f16778617d4e348ad2bd1433d5f5b2","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_d6eceac809ef4c23b5a9d5310d47ba02","object":"Rate","created_at":"2020-03-10T17:09:24Z","updated_at":"2020-03-10T17:09:24Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.15","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c3f16778617d4e348ad2bd1433d5f5b2","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_55ef09bd09dd433eb8bf2fe5e193fda4","object":"Address","created_at":"2020-03-10T17:09:18Z","updated_at":"2020-03-10T17:09:18Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_f12de2343e1c47b986acbcb11de37e2a","object":"Address","created_at":"2020-03-10T17:09:19Z","updated_at":"2020-03-10T17:09:19Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_55ef09bd09dd433eb8bf2fe5e193fda4","object":"Address","created_at":"2020-03-10T17:09:18Z","updated_at":"2020-03-10T17:09:18Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_c3f16778617d4e348ad2bd1433d5f5b2","object":"Shipment"}'
  recorded_at: Tue, 10 Mar 2020 17:09:24 GMT
recorded_with: VCR 5.1.0
