---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5967c0213cedf1ec8e00160690
      Location:
      - "/api/v2/addresses/adr_42d8384ff4e411efacd2ac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_42d8384ff4e411efacd2ac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:24:28+00:00","updated_at":"2025-02-27T08:24:28+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 27 Feb 2025 08:24:28 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5567c0213dedf1ec4800160754
      Location:
      - "/api/v2/addresses/adr_4368455cf4e411ef92563cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4368455cf4e411ef92563cecef1b359e","object":"Address","created_at":"2025-02-27T08:24:29+00:00","updated_at":"2025-02-27T08:24:29+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 27 Feb 2025 08:24:29 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5867c0213eedf1ec690016081c
      Location:
      - "/api/v2/parcels/prcl_999edf1910064536a6de5e269c1c86db"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_999edf1910064536a6de5e269c1c86db","object":"Parcel","created_at":"2025-02-27T08:24:30Z","updated_at":"2025-02-27T08:24:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Thu, 27 Feb 2025 08:24:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_42d8384ff4e411efacd2ac1f6bc539aa"},"from_address":{"id":"adr_4368455cf4e411ef92563cecef1b359e"},"parcel":{"id":"prcl_999edf1910064536a6de5e269c1c86db"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c735ca5a67c0213fedf1ec6f001608d3
      Location:
      - "/api/v2/shipments/shp_f6f41dfcb40643daaf9af04145e303a6"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb55nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_f6f41dfcb40643daaf9af04145e303a6","created_at":"2025-02-27T08:24:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-27T08:24:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4368455cf4e411ef92563cecef1b359e","object":"Address","created_at":"2025-02-27T08:24:29+00:00","updated_at":"2025-02-27T08:24:29+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_999edf1910064536a6de5e269c1c86db","object":"Parcel","created_at":"2025-02-27T08:24:30Z","updated_at":"2025-02-27T08:24:30Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_071763da67704e8990c7095aba2c375f","object":"Rate","created_at":"2025-02-27T08:24:31Z","updated_at":"2025-02-27T08:24:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f6f41dfcb40643daaf9af04145e303a6","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_a5b325d4a32f46f98bb489c645b9063e","object":"Rate","created_at":"2025-02-27T08:24:31Z","updated_at":"2025-02-27T08:24:31Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f6f41dfcb40643daaf9af04145e303a6","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_7cbb1b46520b4a278b13e3c41b25398e","object":"Rate","created_at":"2025-02-27T08:24:31Z","updated_at":"2025-02-27T08:24:31Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f6f41dfcb40643daaf9af04145e303a6","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_42d8384ff4e411efacd2ac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:24:28+00:00","updated_at":"2025-02-27T08:24:28+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4368455cf4e411ef92563cecef1b359e","object":"Address","created_at":"2025-02-27T08:24:29+00:00","updated_at":"2025-02-27T08:24:29+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_42d8384ff4e411efacd2ac1f6bc539aa","object":"Address","created_at":"2025-02-27T08:24:28+00:00","updated_at":"2025-02-27T08:24:28+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Thu, 27 Feb 2025 08:24:31 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_f6f41dfcb40643daaf9af04145e303a6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c735ca5867c02141edf1ec8a001609e8
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
