---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d9406798d42aecc80b460007b656
      Location:
      - "/api/v2/addresses/adr_655c212fdd7711efb1aeac1f6bc539aa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_655c212fdd7711efb1aeac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:57:14+00:00","updated_at":"2025-01-28T12:57:14+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 28 Jan 2025 12:57:14 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d93b6798d42cecc80b8a0007b7b9
      Location:
      - "/api/v2/parcels/prcl_21279612e5fb4d0f8642e20bc7ea79fe"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb32nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_21279612e5fb4d0f8642e20bc7ea79fe","object":"Parcel","created_at":"2025-01-28T12:57:16Z","updated_at":"2025-01-28T12:57:16Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 28 Jan 2025 12:57:16 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_655c212fdd7711efb1aeac1f6bc539aa"},"from_address":{"id":"adr_6601e339dd7711efab3eac1f6bc539ae"},"parcel":{"id":"prcl_21279612e5fb4d0f8642e20bc7ea79fe"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c755d93f6798d42decc80ba50007b84d
      Location:
      - "/api/v2/shipments/shp_3be88d64d05547cb80b5605b4859c587"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb55nuq
      X-Version-Label:
      - easypost-202501272342-1fe0b96ea2-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_3be88d64d05547cb80b5605b4859c587","created_at":"2025-01-28T12:57:17Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-01-28T12:57:17Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6601e339dd7711efab3eac1f6bc539ae","object":"Address","created_at":"2025-01-28T12:57:15+00:00","updated_at":"2025-01-28T12:57:15+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_21279612e5fb4d0f8642e20bc7ea79fe","object":"Parcel","created_at":"2025-01-28T12:57:16Z","updated_at":"2025-01-28T12:57:16Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_8c70b8b999bd4b4ab5d7ebad20cbceab","object":"Rate","created_at":"2025-01-28T12:57:17Z","updated_at":"2025-01-28T12:57:17Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_3be88d64d05547cb80b5605b4859c587","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e00107e2796e4f9685ab06f9e50b84c1","object":"Rate","created_at":"2025-01-28T12:57:17Z","updated_at":"2025-01-28T12:57:17Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3be88d64d05547cb80b5605b4859c587","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_dac6f0094a014f80b435be3c66203ffa","object":"Rate","created_at":"2025-01-28T12:57:17Z","updated_at":"2025-01-28T12:57:17Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_3be88d64d05547cb80b5605b4859c587","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_655c212fdd7711efb1aeac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:57:14+00:00","updated_at":"2025-01-28T12:57:14+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_6601e339dd7711efab3eac1f6bc539ae","object":"Address","created_at":"2025-01-28T12:57:15+00:00","updated_at":"2025-01-28T12:57:15+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_655c212fdd7711efb1aeac1f6bc539aa","object":"Address","created_at":"2025-01-28T12:57:14+00:00","updated_at":"2025-01-28T12:57:14+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Tue, 28 Jan 2025 12:57:17 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_3be88d64d05547cb80b5605b4859c587
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - c755d93b6798d42eecc80bc60007b963
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
