---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc57e0bb60f300060069
      Location:
      - "/api/v2/addresses/adr_bfedb70a4dbd424a862fa194a222107f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1sj 0653d0f1e8
      - intlb1wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_bfedb70a4dbd424a862fa194a222107f","object":"Address","created_at":"2020-02-11T14:38:15Z","updated_at":"2020-02-11T14:38:15Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:38:15 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8d5e42bc59e0bb60f6000600f0
      Location:
      - "/api/v2/parcels/prcl_823a7a51f2ce44dc947770b413906165"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1wdc 0653d0f1e8
      - intlb2sj 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_823a7a51f2ce44dc947770b413906165","object":"Parcel","created_at":"2020-02-11T14:38:17Z","updated_at":"2020-02-11T14:38:17Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 11 Feb 2020 14:38:17 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_bfedb70a4dbd424a862fa194a222107f&shipment[from_address][id]=adr_79b235a074864e05af6b3b4259c66436&shipment[parcel][id]=prcl_823a7a51f2ce44dc947770b413906165
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8e5e42bc5ae0bb60f70006015e
      Location:
      - "/api/v2/shipments/shp_b88cd3737f6b47cd907554727b94621b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb1sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-02-11T14:38:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-02-11T14:38:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_79b235a074864e05af6b3b4259c66436","object":"Address","created_at":"2020-02-11T14:38:16Z","updated_at":"2020-02-11T14:38:16Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_823a7a51f2ce44dc947770b413906165","object":"Parcel","created_at":"2020-02-11T14:38:17Z","updated_at":"2020-02-11T14:38:17Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_984133ad671f43cb8c8d65bb131d937c","object":"Rate","created_at":"2020-02-11T14:38:18Z","updated_at":"2020-02-11T14:38:18Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_b88cd3737f6b47cd907554727b94621b","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_623a07792f114f5db7d95af8ee74ef0a","object":"Rate","created_at":"2020-02-11T14:38:18Z","updated_at":"2020-02-11T14:38:18Z","mode":"test","service":"First","carrier":"USPS","rate":"3.93","currency":"USD","retail_rate":"5.30","retail_currency":"USD","list_rate":"3.93","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b88cd3737f6b47cd907554727b94621b","carrier_accou[...]
