---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: address[street1]=A%20Different%20Road&address[street2]=Northwest&address[city]=Manville&address[zip]=08835&address[phone]=555-555-0199&address[company]=Company&address[name]=John%20Doe&address[state]=NJ&address[country]=US
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fb745e8f5e42bbcae0bb6db50005ddc8
      Location:
      - "/api/v2/addresses/adr_0b12b501ed034167a7b8229526b39424"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc f57b0b4827
      - intlb2sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_0b12b501ed034167a7b8229526b39424","object":"Address","created_at":"2020-02-11T14:35:55Z","updated_at":"2020-02-11T14:35:55Z","name":"John
        Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Tue, 11 Feb 2020 14:35:55 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: parcel[weight]=10.0
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - c475870a5e42bbcde0bb6db90004931b
      Location:
      - "/api/v2/parcels/prcl_44c66c6fa4954c26ab9bd18a9b8837b5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj f57b0b4827
      - intlb1sj 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_44c66c6fa4954c26ab9bd18a9b8837b5","object":"Parcel","created_at":"2020-02-11T14:35:57Z","updated_at":"2020-02-11T14:35:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Tue, 11 Feb 2020 14:35:57 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: shipment[to_address][id]=adr_0b12b501ed034167a7b8229526b39424&shipment[from_address][id]=adr_b68a4a9a798a43529590db02cbcafdcc&shipment[parcel][id]=prcl_44c66c6fa4954c26ab9bd18a9b8837b5
    headers:
      Authorization:
      - Bearer EZTKa6a3653e4e3f4b2883013f4c20e1f28b6camRFWNI0aRqQQqDnQKkg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 84886e1b5e42bbcee0bb6dba0005ba1a
      Location:
      - "/api/v2/shipments/shp_02c9185277324449b4606ef60d3945d5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb11sj
      X-Version-Label:
      - easypost-202002110108-5c21c2c4c4-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc f57b0b4827
      - intlb2sj 0653d0f1e8
      - intlb2wdc 0653d0f1e8
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-02-11T14:35:58Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-02-11T14:35:58Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_b68a4a9a798a43529590db02cbcafdcc","object":"Address","created_at":"2020-02-11T14:35:56Z","updated_at":"2020-02-11T14:35:56Z","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_44c66c6fa4954c26ab9bd18a9b8837b5","object":"Parcel","created_at":"2020-02-11T14:35:57Z","updated_at":"2020-02-11T14:35:57Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0a32c6ef342844a8a41fd78ba593a0e8","object":"Rate","created_at":"2020-02-11T14:35:58Z","updated_at":"2020-02-11T14:35:58Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_02c9185277324449b4606ef60d3945d5","carrier_account_id":"ca_47e4a40b9f7c47cebad306ef44a4039f"},{"id":"rate_d0015f612b794ab3a43be9de5002eef4","object":"Rate","created_at":"2020-02-11T14:35:58Z","updated_at":"2020-02-11T14:35:58Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_02c9185277324449b4606ef60d3945d5","carrier_ac[...]
